#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-list{
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  list-style: none;
}
.nav-list li{
  margin-right: 2rem;
  text-decoration: none;
}

.active{
  color:orange;
  font-size: 1.3rem;
}
.sub{
  flex-direction: column;
  align-items: start;
}
